.component
	min-width: 30px
	max-width: 100px
	width: 100%
	.component__text, .component__adding
		width: 100%
		.component__adding__button_minus, .component__adding__button_plus
			margin: 0
			padding: 0
			&:hover
				cursor: pointer
		.component__adding__button_plus, .component__adding__amount, .component__adding__button_minus
			width: 33%
			float: left
	text-align: center
			