section.component
	div.component__text Počet zboží
	div.component__adding
		div.component__adding__button_plus +
		input(type="text", name="", class="component__adding__amount")
		div.component__adding__button_minus -